<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	 <link rel="stylesheet" type="text/stylesheet" href="../css/w3.css" />
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Tennille United Methodist</title>
	
  </head>
  <body class="container paper" style="background-color: grey;">
			<div class="row">
				<div class="col-sm-8">
					<!--CONTENT HERE-->
					<h2>Contact Us</h2>
					<form ng-submit="contact.sendMsg(conData)">
					
						<table style="height: 600px; padding: 20px;">
							<tr>
								<td><label for="fname">First Name: </label></td>
								<td><input id="fname" type="text" ng-model="contact.conData.firstName" /></td>
								<td><label for="lname">Last Name: </label></td>
								<td><input id="lname" type="text" ng-model="contact.conData.lastName" /></td>
							</tr>
							<tr>
								<td><label for="email">Email: </label></td>
								<td colspan="3"><input style="width: 100%;" id="email"  type="email" ng-model="contact.conData.email"  /></td>
							</tr>
							<tr>
								<td><label for="subject">Subject: </label></td>
								<td colspan="3"><input style="width: 100%;" id="subject"  type="text" ng-model="contact.conData.subject" /></td>
								
							</tr>
							<tr>
								<td><label for="message">Message: </label></td>
								<td height="400px" colspan="4"><textarea id="message" style="width: 100%; height: 100%;resize: none; " ng-model="contact.conData.message"></textarea></td>
							</tr>
						
						</table>
				
					
					<button type="submit" class="btn btn-primary" style="display: block">Send</button>
					</form>
					
					
					<div class="jumbotron text-center" ng-show="contact.loading">
						<span class="glyphicon glyphicon-repeat spinner">Loading...</span>
					</div>

					<div class="row show-hide-message" ng-show="contact.successMsg">
						<div class="alert alert-success">{{contact.successMsg}}</div>
					</div>

					<br>

					<div class="row show-hide-message" ng-show="contact.errorMsg">
						<div class="alert alert-danger">{{contact.errorMsg}}</div>
					</div>
					
					
				</div>
				
			</div>
</div>
  </body>
</html>