<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	 <link rel="stylesheet" type="text/stylesheet" href="../css/w3.css" />
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Tennille United Methodist</title>

  </head>
  <body class="container paper" style="background-color: grey;">

			<div class="col-sm-8">
					<!--Page Content Here-->
				
				
					<h2>TUMC History</h2>
					<p style="text-align: center;">Pastor History</p>
					<p style="text-align: center;"><span style="color: white; font-family: verdana;"><a href="http://www.tennilleumc.org/History/McKellar.html">I. E. McKellar Historical Sketch</a></span></p>
					<p style="text-align: center;"><span class="style49">Robert P. Northington, Jr. (Bob)<br />
					</span></p>
					<p style="text-align: center;"><span class="style49"><a href="http://www.tennilleumc.org/History/BobNorthington_original_church_July2007.pdf"><span class="style7">A Historical Recounting of the</span></a></span></p>
					<p style="text-align: center;"><span class="style49"><a href="http://www.tennilleumc.org/History/BobNorthington_original_church_July2007.pdf"><span class="style7">First Structure Housing the Congregation of the Tennille Methodist Church</span> </a><br />
					<span class="style50">Recorded by Mary Margaret (Northington) Yielding<br />
					May and November 2006 and July 2007</span></span></p>
					<p style="text-align: center;"><span style="color: white; font-family: verdana;"><a href="http://www.tennilleumc.org/History/ChurchHistoryWritten1984.pdf">Historical Sketch written for Centennial Celebration in 1984</a></span></p>
					<p style="text-align: center;"><span style="color: white; font-family: verdana;"><a href="http://www.tennilleumc.org/ElsieMarchmanCollection.html">Elsie Marchman Collection</a></span></p>
					<p style="text-align: center;"><a href="http://www.sgaumc.org/churchhistorydetail/235217">South GA Conference Information</a></p>
					<p style="text-align: center;">Erin Theatre Flyer from c1954 where services were held during fire</p>
				
		
		</div>
  </body>
</html>