<!DOCTYPE html>
<html>
<head>
	<title>History</title>
</head>
<body>
	<div class="col-sm-8" ng-app="siteApp" ng-controller="contentCtrl">
					<!--Page Content Here-->
				
				
					<h2>TUMC History</h2>
					<p style="text-align: center;">Pastor History</p>
					<p style="text-align: center;"><span style="color: white; font-family: verdana;"><a href="http://www.tennilleumc.org/History/McKellar.html">I. E. McKellar Historical Sketch</a></span></p>
					<p style="text-align: center;"><span class="style49">Robert P. Northington, Jr. (Bob)<br />
					</span></p>
					<p style="text-align: center;"><span class="style49"><a href="http://www.tennilleumc.org/History/BobNorthington_original_church_July2007.pdf"><span class="style7">A Historical Recounting of the</span></a></span></p>
					<p style="text-align: center;"><span class="style49"><a href="http://www.tennilleumc.org/History/BobNorthington_original_church_July2007.pdf"><span class="style7">First Structure Housing the Congregation of the Tennille Methodist Church</span> </a><br />
					<span class="style50">Recorded by Mary Margaret (Northington) Yielding<br />
					May and November 2006 and July 2007</span></span></p>
					<p style="text-align: center;"><span style="color: white; font-family: verdana;"><a href="http://www.tennilleumc.org/History/ChurchHistoryWritten1984.pdf">Historical Sketch written for Centennial Celebration in 1984</a></span></p>
					<p style="text-align: center;"><span style="color: white; font-family: verdana;"><a href="http://www.tennilleumc.org/ElsieMarchmanCollection.html">Elsie Marchman Collection</a></span></p>
					<p style="text-align: center;"><a href="http://www.sgaumc.org/churchhistorydetail/235217">South GA Conference Information</a></p>
					<p style="text-align: center;">Erin Theatre Flyer from c1954 where services were held during fire</p>
				
				
				
				
					
				</div>
				
</body>
</html>