<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
			<div class="row">
				<div class="col-sm-8">
					<h2>TUMC</h2>
					<p>Feb. 4, 2018 – Morning Worship Web Stream Available at the link below – LIVE NOW</p>

					<p><b>Sunday Services are Available via the Internet and Radio</b></p>

					<p>Morning Worship Service:   11:00 am every Sunday</p>

					<p><b>Watch live at</b></p> 

					<p><a href="#">http://www.citylinktv.com/channel/tennille-united-methodist-church/</a></p>

					<p><b>Listen live on the Radio:   WSNT AM 1490</b></p>
					
					<img class="center" src="../assets/images/img.jpg"/>
				</div>
				<div class="w3-card col-sm-4 border" ng-show="main.username">
					<p>Community</p>
					<div ng-repeat="profile in profiles track by $index">
						<a href="#" ng-model="profile.username">{{profile.username | uppercase}}</a>
					</div>
				</div>
			</div>
</body>
</html>