<!DOCTYPE html>
<html>
<head>
	<title>Sermons</title>
</head>
<body>
	<div class="col-sm-8" ng-app="siteApp" ng-controller="contentCtrl">
					<!--Page Content Here-->
				
				
							<h2>Sermons</h2>
							<p>Audio and Video recordings of worship services and other events and services from Tennille United Methodist Church</p>
							<p style="text-align: center;"><a href="">2018 Sermons</a></p>
							<p style="text-align: center;"><a href="">2017 Sermons</a></p>
							<p style="text-align: center;"><a href="">2016 Sermons</a></p>
							<p style="text-align: center;"><a href="" target="_blank" rel="noopener">2015 Sermons</a></p>
							<p style="text-align: center;"><a href="" target="_blank" rel="noopener">2014 Sermons</a></p>
							<p style="text-align: center;"><a href="" target="_blank" rel="noopener">2013 Sermons</a></p>
							<p style="text-align: center;"><a href="" target="_blank" rel="noopener">2012 Sermons</a></p>
							<p style="text-align: center;"><a href="" target="_blank" rel="noopener">2011 Sermons</a></p>
							<p style="text-align: center;"><a href="" target="_blank" rel="noopener">2010 Sermons</a></p>
							<p style="text-align: center;"><a href="" target="_blank" rel="noopener">2009 Sermons</a></p>
							<p style="text-align: center;"><a href="">2008 Sermons</a></p>
							<p style="text-align: center;"><a href="" target="_blank" rel="noopener">2007 Sermons</a></p>
							<p style="text-align: center;"><a href="" target="_blank" rel="noopener">2005 and 2006 Sermons</a></p>
				
					
				</div>
				
</body>
</html>