main{
	padding-top:30px;
}

header .navbar{
	border-radius:0;
}

.show-hide-message.ng-hide-remove{
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
	animation:zoomIn 0.3s both ease;
}

.spinner {
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
	animation:spin 1s infinite;
}

@keyframes spin{
	from {transform:rotate(0deg);}
	to { transform: rotate(360deg); }
}

@-webkit-keyframes spin{
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@-moz-keyframes spin{
	from {-moz-transform:rotate(0deg);}
	to {-moz-transform:rotate(360deg);}
}

.image {
		background-image: url("../images/sky.jpg");
		background-size: 100% 100%;
	 }
	 .paper {
		background-image: url("../images/paper.png");
	 }
	 .border {
		border: solid 5px;
	 }
	 .center{
		display: block;
		margin: 0 auto;
	 }
	 .textshadow {
		text-shadow: 2px 2px 4px #000000;
	 }
	 .table-content {
		padding: 200px;
	 
	 td {
		padding: 20px;
	 }
	 table {
		min-height: 850px;
	 }